.coverage
.framework_cache/
.pytest_cache/
__pycache__/
allure?results/
allure?report/
docker/env.list
docker/env.list.git
fut/.files
fut_cmd.sh
fut_set_env.sh
fut_tr.tar
mqtt_messages.json
qase-report/
qaseio.lock
resource/git/
resource/shell/
resource/test_fw/
resource/um/
resource/ut/
shell/config/regulatory.txt
shell/tools/server/certs/
tools/server/
